.footer {
  background: var(--primary-red-color);
  bottom: 0;
  height: 57px;
  position: fixed;
  text-align: center;
  width: 360px;
}

.footer-icon-drink {
  background-color: var(--secondary-background-color );
  border-radius: 10px;
  margin: 5px 20px;
  padding: 3px;
}

.footer-icon-food {
  background-color: var(--secondary-background-color );
  border-radius: 10px;
  margin: 5px 20px;
  padding: 3px;
}
